body {
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#pokedex {
	display: flex;
	flex-wrap: wrap;
}

.pokemon {
	text-align: center;
	border: 1px solid red;
	margin: 5px;
}